[submodule "Build/meta-mistysom"]
	path = Build/meta-mistysom
	url = https://github.com/MistySOM/meta-mistysom.git
[submodule "Build/meta-econsys"]
	path = Build/meta-econsys
	url = https://github.com/MistySOM/meta-econsys.git
